# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_ballpadyl_LEFT

config ZMK_KEYBOARD_NAME
	default "ballpadyl"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_ballpadyl_LEFT || SHIELD_ballpadyl_RIGHT

config ZMK_SPLIT
	default y

endif
